body{
    background-color: rgb(31, 52, 71);
    margin:0;
    font-family: 'GlacialIndifferenceRegular'; 
}


/*Loading page*/

.loader-container{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgb(31, 52, 71);
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.loader-container.hidden{
  opacity: 0;
  visibility: hidden;
}

.loader-container h1{
  position: absolute;
  top: 28%;
  left:39%;
  color: white;
  text-shadow: 2px 2px 2px rgb(119, 162, 255);
}

.loader-container h2{
  position: absolute;
  top: 60%;
  left:44.5%;
  color: white;
  text-shadow: 2px 2px 2px rgb(119, 162, 255);
}

.loader{
  width: 120px;
  height: 120px;
  border: 16px solid rgb(54, 88, 121);
  border-top: 16px solid rgb(44, 110, 231);
  border-radius: 50%;
  box-shadow: 0 0 6px 2px black;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: loader 1s linear infinite;
}

@keyframes loader{
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(31, 52, 71);
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 20px black;
  }

  nav ul li:first-child {
    margin-left: 40%;
  }
  
  nav ul li {
    display: inline-block; 
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul  li a:hover:not(.active) {
    background-color: rgb(26, 43, 59);;
  }
  
  nav .active {
    background-color: rgb(60, 98, 133);
  }

  div.banner{
      width: 100%;
      height: 90vh;
      text-align: center;
  }

  div.banner .content .img img{
      width: 100%;
      height: 90vh;
  }

  div.banner .content .img{
    width: 100%;
    height: 90vh;
    opacity: 50%;
}

  @keyframes tipsy {
    0 {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
  
  .content .content-txt {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 2px rgb(119, 162, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .content .content-txt:before,
  .content .content-txt:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 15px solid red;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
  }
  
  .content .content-txt:before {
    border-color: #4c4ad9 #4c4ad9 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
    border-radius: 20%;
  }
  
  .content .content-txt:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #4c4ad9 #4c4ad9;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
    border-radius: 20%;
  }

  div.professional-profile{
      
      width: 50%;
      margin: auto;
      margin-top: 30px;
  }


  div.professional-profile div.ContentProfessional{
    display: flex;
  }

  div.professional-profile img{
    width: 30%;
  }

  div.professional-profile .information{
      color: rgb(111, 173, 231);
  }

  div.professional-profile .information h1{
    color: rgb(163, 204, 241);
    border-bottom: solid rgb(127, 161, 255) 1px;
}

div.professional-profile .information p:last-of-type{
    border-bottom: solid rgb(127, 161, 255) 1px;
}

[class*="hide-"]{
  opacity: 0;
  transform: translateY(-30px);
}

.hide-2{
  transition-delay: .3s;
}

.hide-3{
  transition-delay: .6s;
}

.hide-4{
  transition-delay: .9s;
}

.animated{
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
}

div.cv{
  width: 50%;
  margin: auto;
  margin-top: 100px;
  color: rgb(111, 173, 231);
}

div.cv h1{
  text-align: center;
  color : rgb(163, 204, 241);
}

div.cv div.info-perso{
  margin-bottom: 50px;
}

div.cv div.info-perso ul li{
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
}

div.cv div.info-perso p{
  text-align: center;
  margin: 0;
}

div.cv div.digital-skills-head{
  background-color: rgb(12, 66, 112);
  cursor: pointer;
  display: flex;
}

div.cv div.digital-skills-head:hover{
  background-color: rgb(15, 77, 131);
}

div.cv div.digital-skills-head img{
  width: 40px;
  margin-top: 0px;
}

div.cv div.digital-skills-head img.active{
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

div.cv div.digital-skills-head p{
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 0px;
}

div.cv div.digital-skills-content{
  background-color: rgba(24, 97, 161, 0.2);
  margin-top: 0;
  border: 1px solid black;
  display: none;
}

div.cv div.digital-skills-content p{
  margin-left: 5px;
  border-bottom: 1px solid rgb(15, 77, 131);
}


div.cv div.education-trainee-head{
  margin-top: 25px;
  background-color: rgb(12, 66, 112);
  cursor: pointer;
  display: flex;
}

div.cv div.education-trainee-head:hover{
  background-color: rgb(15, 77, 131);
}

div.cv div.education-trainee-head img{
  width: 40px;
  margin-top: 0px;
}

div.cv div.education-trainee-head img.active{
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

div.cv div.education-trainee-head p{
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 0px;
}

div.cv div.education-trainee-content{
  background-color: rgba(24, 97, 161, 0.2);
  margin-top: 0;
  border: 1px solid black;
  display: none;
}

div.cv div.education-trainee-content p{
  margin-left: 5px;
  border-bottom: 1px solid rgb(15, 77, 131);
}

div.cv div.work-exp-head{
  margin-top: 25px;
  background-color: rgb(12, 66, 112);
  cursor: pointer;
  display: flex;
}

div.cv div.work-exp-head:hover{
  background-color: rgb(15, 77, 131);
}

div.cv div.work-exp-head img{
  width: 40px;
  margin-top: 0px;
}

div.cv div.work-exp-head img.active{
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

div.cv div.work-exp-head p{
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 0px;
}

div.cv div.work-exp-content{
  background-color: rgba(24, 97, 161, 0.2);
  margin-top: 0;
  border: 1px solid black;
  display: none;
}

div.cv div.work-exp-content p{
  margin-left: 5px;
  border-bottom: 1px solid rgb(15, 77, 131);
}

div.cv div.language-skill-head{
  margin-top: 25px;
  background-color: rgb(12, 66, 112);
  cursor: pointer;
  display: flex;
}

div.cv div.language-skill-head:hover{
  background-color: rgb(15, 77, 131);
}

div.cv div.language-skill-head img{
  width: 40px;
  margin-top: 0px;
}

div.cv div.language-skill-head img.active{
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

div.cv div.language-skill-head p{
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 0px;
}

div.cv div.language-skill-content{
  background-color: rgba(24, 97, 161, 0.2);
  margin-top: 0;
  border: 1px solid black;
  display: none;
}

div.cv div.language-skill-content p{
  margin-left: 5px;
  border-bottom: 1px solid rgb(15, 77, 131);
}

div.cv div.language-skill-content ul{
  margin-left: 5px;
  border-bottom: 1px solid rgb(15, 77, 131);
}

div.cv div.language-skill-content ul li{
  border-bottom: 1px solid rgb(15, 77, 131);
}


div.cv div.hobbies-head{
  margin-top: 25px;
  background-color: rgb(12, 66, 112);
  cursor: pointer;
  display: flex;
}

div.cv div.hobbies-head:hover{
  background-color: rgb(15, 77, 131);
}

div.cv div.hobbies-head img{
  width: 40px;
  margin-top: 0px;
}

div.cv div.hobbies-head img.active{
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

div.cv div.hobbies-head p{
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 0px;
}

div.cv div.hobbies-content{
  background-color: rgba(24, 97, 161, 0.2);
  margin-top: 0;
  border: 1px solid black;
  display: none;
}

div.cv div.hobbies-content p{
  margin-left: 5px;
  border-bottom: 1px solid rgb(15, 77, 131);
}


div.cv div.driving-head{
  margin-top: 25px;
  background-color: rgb(12, 66, 112);
  cursor: pointer;
  display: flex;
}

div.cv div.driving-head:hover{
  background-color: rgb(15, 77, 131);
}

div.cv div.driving-head img{
  width: 40px;
  margin-top: 0px;
}

div.cv div.driving-head img.active{
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

div.cv div.driving-head p{
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 0px;
}

div.cv div.driving-content{
  background-color: rgba(24, 97, 161, 0.2);
  margin-top: 0;
  border: 1px solid black;
  display: none;
}

div.cv div.driving-content p{
  margin-left: 5px;
  border-bottom: 1px solid rgb(15, 77, 131);
}

div.cv div.language-skill-content ul{
  margin-left: 5px;
  border-bottom: 1px solid rgb(15, 77, 131);
}

div.cv div.language-skill-content ul li{
  border-bottom: 1px solid rgb(15, 77, 131);
}

/* CSS de la partie project*/

div.contentProject{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
div.project h1{
  text-align: center;
  color : rgb(163, 204, 241);
  margin-top: 100px;
}

/*Projet coop css*/

div.contentProject div.project-coop{
  background-color: rgba(132, 198, 255, 0.08);
  width: 80%;
  margin: auto;
}

div.contentProject div.project-coop h1{
  text-align: center;
  color : rgb(163, 204, 241);
}

div.contentProject div.project-coop h1{
  text-align: center;
  color : rgb(163, 204, 241);
}

div.contentProject div.project-coop a{
  margin-left:40%;
  color : rgb(163, 204, 241);
}

div.contentProject div.project-coop div.resume-coop {
  margin-top: 60%;
}

div.contentProject div.project-coop h4{
  text-align: center;
  color : rgb(163, 204, 241);
  border-bottom: solid rgb(127, 161, 255) 1px;
}

div.contentProject div.project-coop p{
  color : rgb(163, 204, 241);
  margin-left: 8px;
}

div.contentProject div.project-coop ul.coop {
  top: 50%;
  width: 1px;
  height: 200px; 
  display: flex;
}

div.contentProject div.project-coop ul.coop > li {
  width: 25%;
  list-style-type: none;
  top: 0;
  opacity: 0;
  text-align: center;
  transition: 1s opacity; 
}

div.contentProject div.project-coop .carousel{
  position: relative;
}

div.contentProject div.project-coop img.coop {
  position: absolute;
  width: 90%;
  top: 0;
  opacity: 0;
  transition: 1s opacity; 
  margin-left: 5%;
  margin-top: 5%;
}

div.contentProject div.project-coop img.active {
  opacity: 1;
}

/*Css de la partie project de l'atelier*/

div.contentProject div.project-atelier1{
  background-color: rgba(132, 198, 255, 0.08);
  width: 80%;
  margin: auto;
}

div.contentProject div.project-atelier1 h1{
  text-align: center;
  color : rgb(163, 204, 241);
}

div.contentProject div.project-atelier1 a{
  margin-left:37%;
  color : rgb(163, 204, 241);
}

div.contentProject div.project-atelier1 h1{
  text-align: center;
  color : rgb(163, 204, 241);
}

div.contentProject div.project-atelier1 div.resume-atelier1 {
  margin-top: 60%;
}

div.contentProject div.project-atelier1 h4{
  text-align: center;
  color : rgb(163, 204, 241);
  border-bottom: solid rgb(127, 161, 255) 1px;
}

div.contentProject div.project-atelier1 p{
  color : rgb(163, 204, 241);
  margin-left: 8px;
}

div.contentProject div.project-atelier1 .carousel{
  position: relative;
}

div.contentProject div.project-atelier1 img.test {
  position: absolute;
  width: 90%;
  top: 0;
  opacity: 0;
  transition: 1s opacity; 
  margin-left: 5%;
  margin-top: 5%;
}


div.contentProject div.project-atelier1 img.active {
  opacity: 1;
}


/*Css de la partie project covid*/

div.contentProject div.project-covid{
  background-color: rgba(132, 198, 255, 0.08);
  width: 80%;
  margin: auto;
  margin-top:100px
}

div.contentProject div.project-covid h1{
  text-align: center;
  color : rgb(163, 204, 241);
}

div.contentProject div.project-covid a{
  margin-left:33%;
  color : rgb(163, 204, 241);
}

div.contentProject div.project-covid h1{
  text-align: center;
  color : rgb(163, 204, 241);
}

div.contentProject div.project-covid div.resume-covid {
  margin-top: 60%;
}

div.contentProject div.project-covid h4{
  text-align: center;
  color : rgb(163, 204, 241);
  border-bottom: solid rgb(127, 161, 255) 1px;
}

div.contentProject div.project-covid p{
  color : rgb(163, 204, 241);
  margin-left: 8px;
}

div.contentProject div.project-covid .carousel{
  position: relative;
}

div.contentProject div.project-covid img.covid {
  position: absolute;
  width: 90%;
  top: 0;
  opacity: 0;
  transition: 1s opacity; 
  margin-left: 5%;
  margin-top: 5%;
}


div.contentProject div.project-covid img.active {
  opacity: 1;
}


/*Css de la partie project velo*/

div.contentProject div.project-velo{
  background-color: rgba(132, 198, 255, 0.08);
  width: 80%;
  margin: auto;
  margin-top:100px
}

div.contentProject div.project-velo h1{
  text-align: center;
  color : rgb(163, 204, 241);
}

div.contentProject div.project-velo a{
  margin-left:35%;
  color : rgb(163, 204, 241);
}

div.contentProject div.project-velo h1{
  text-align: center;
  color : rgb(163, 204, 241);
}

div.contentProject div.project-velo div.resume-velo {
  margin-top: 60%;
}

div.contentProject div.project-velo h4{
  text-align: center;
  color : rgb(163, 204, 241);
  border-bottom: solid rgb(127, 161, 255) 1px;
}

div.contentProject div.project-velo p{
  color : rgb(163, 204, 241);
  margin-left: 8px;
}

div.contentProject div.project-velo .carousel{
  position: relative;
}

div.contentProject div.project-velo img.velo {
  position: absolute;
  width: 90%;
  top: 0;
  opacity: 0;
  transition: 1s opacity; 
  margin-left: 5%;
  margin-top: 5%;
}


div.contentProject div.project-velo img.active {
  opacity: 1;
}




  